.article {
    &.list-item {
        position: relative;
        box-shadow: 0px 0px 0px 1px $border-color;
        transition: box-shadow .8s, linear;
        cursor: pointer;

        span {
            &.category {}

            &.date {}
        }

        h2 {
            text-transform: capitalize;
        }

        p {
            &:first-letter {
                text-transform: uppercase;
            }
        }

        &:hover {
            // border: 3px solid #fff;
            box-shadow: 0px 0px 0px 3px #fff;

            > .delete-post.btn.delete-btn {
                background-color: #fff;
                color: $text-color;
            }

            h2 {
                text-decoration: underline;
            }
        }
    }
    &.post-details {
        width: 100%;
        // .post-title-edit, .post-title, .post-content, .post-content-edit {
        //     display: none;
        //     &.is-visible {
        //         display: block;
        //     }
        // }
        .btn {
            margin: rem(10) 0 rem(20);
        }
        .article-header, .article-content {
            max-width: rem(720);
            margin: 0 auto;
            position: relative;
            .edit-btn {
                position: absolute;
                left: 105%;
                top: 50%;
                transform: translateY(-50%);
                margin-top: 0;
            }
        }
        
        h1 {
            @include font-size(38);
            &:first-letter {
                text-transform: uppercase;
            }
        }
        input, textarea {
            width: 100%;
            background-color: transparent;
            color: #fff;
            border: none;
            @include font-size(38);
            font-weight: 700;
            &:first-letter {
                text-transform: uppercase;
            }
        }
        .article-content {
            margin-top: rem(60);
            p {
                @include font-size(16);
                letter-spacing: .8px;
                line-height: 1.4;
                text-align: justify;
                
                &:first-letter {
                    text-transform: uppercase;
                }
            }
            textarea {
                @include font-size(16);
            }
        }
    }
}