.main-site-header {
    margin-bottom: rem(40);
    .main-nav {
        .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }
        .navbar-brand {
            h1 {
                margin: 0;
            }
        }

        .navbar-menu {
            &.hide {
                display: none;
            }
            align-self: flex-end;
            .navbar-item {
                margin-right: rem(20);
            }
        }
    }
}